
:root {
    --background-color: #ffffff33;
    --background-blur: blur(10px);
    --padding-left: calc(env(safe-area-insert-left) + 2rem);
    --padding-right: calc(env(safe-area-inset-right) + 2rem);
    --padding-top: 1rem;
    --padding-bottom: 1rem;
}


#slideshow-container {
    font-size: 16px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    cursor: zoom-out;
    background-color: var(--background-color);
    -webkit-backdrop-filter: var(--background-blur);
    backdrop-filter: var(--background-blur);
}

.slideshow-not-active {
    display: flex;
}

.slideshow-in-fullscreen-mode {
    display: flex;
}